In [1]:
from sklearn_pandas import DataFrameMapper, cross_val_score
from pandas import DataFrame, read_csv
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelBinarizer
%matplotlib inline

import sklearn.preprocessing, sklearn.decomposition,sklearn.linear_model, sklearn.pipeline, sklearn.metrics
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
data = pd.DataFrame({'pet':      ['cat', 'dog', 'dog', 'fish', 'cat', 'dog', 'cat', 'fish'],
                      'children': [4., 6, 3, 3, 2, 3, 5, 4],
                     'salary':   [90., 24, 44, 27, 32, 59, 36, 27]})

In [20]:
mapper = DataFrameMapper([
...     ('pet', LabelBinarizer()),
...     (['children'], sklearn.preprocessing.StandardScaler())
... ], df_out=True)

In [21]:
data['children'].shape

(8,)

In [32]:
mapper.fit_transform(data.copy())

   pet_cat  pet_dog  pet_fish  children
0      1.0      0.0       0.0  0.208514
1      0.0      1.0       0.0  1.876630
2      0.0      1.0       0.0 -0.625543
3      0.0      0.0       1.0 -0.625543
4      1.0      0.0       0.0 -1.459601
5      0.0      1.0       0.0 -0.625543
6      1.0      0.0       0.0  1.042572
7      0.0      0.0       1.0  0.208514

In [33]:
# transformation is trained, we confirm that it works on new data:
sample = pd.DataFrame({'pet': ['cat'], 'children': [5.]})

mapper.transform(sample)

   pet_cat  pet_dog  pet_fish  children
0      1.0      0.0       0.0  1.042572

In [34]:
# OutPut feature name
mapper.transformed_names_

['pet_cat', 'pet_dog', 'pet_fish', 'children']

In [35]:
#Columns that don't need any transformation
mapper3 = DataFrameMapper([
    ('pet', sklearn.preprocessing.LabelBinarizer()),
     ('children', None)
], df_out=True)

mapper3.fit_transform(data.copy())

   pet_cat  pet_dog  pet_fish  children
0      1.0      0.0       0.0       4.0
1      0.0      1.0       0.0       6.0
2      0.0      1.0       0.0       3.0
3      0.0      0.0       1.0       3.0
4      1.0      0.0       0.0       2.0
5      0.0      1.0       0.0       3.0
6      1.0      0.0       0.0       5.0
7      0.0      0.0       1.0       4.0

In [37]:
import category_encoders as catEnc
from category_encoders import BackwardDifferenceEncoder
from category_encoders import HelmertEncoder

In [38]:
mapper4 = DataFrameMapper([
    ('pet', BackwardDifferenceEncoder()),
     ('children', None)
], df_out=True)

In [39]:
mapper4.fit_transform(data.copy())

   pet_0     pet_1     pet_2  children
0    1.0 -0.666667 -0.333333       4.0
1    1.0  0.333333 -0.333333       6.0
2    1.0  0.333333 -0.333333       3.0
3    1.0  0.333333  0.666667       3.0
4    1.0 -0.666667 -0.333333       2.0
5    1.0  0.333333 -0.333333       3.0
6    1.0 -0.666667 -0.333333       5.0
7    1.0  0.333333  0.666667       4.0

In [40]:
mapper5 = DataFrameMapper([
    ('pet', HelmertEncoder()),
     ('children', None)
], df_out=True)

In [41]:
mapper5.fit_transform(data.copy())

   pet_0  pet_1  pet_2  children
0    1.0   -1.0   -1.0       4.0
1    1.0    1.0   -1.0       6.0
2    1.0    1.0   -1.0       3.0
3    1.0    0.0    2.0       3.0
4    1.0   -1.0   -1.0       2.0
5    1.0    1.0   -1.0       3.0
6    1.0   -1.0   -1.0       5.0
7    1.0    0.0    2.0       4.0